body {
  margin: 0;
  padding: 0;
  background: linear-gradient(160deg, #0d0d0d, #1a1f2b, #0f1b2d);
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
