.container {
  width: 100%;
  height: 100vh;
  background: #0f1821;
  text-align: center;
}
.container .title {
  margin: 0;
  padding: 0;
}

.title {
  /* margin-top: 50px; */
  font-size: 60px;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
}

.title span {
  color: #26ffcb;
  padding-left: 15px;
}

.reset {
  width: 200px;
  height: 70px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  background: #1f3540;
  font-size: 26px;
  color: #26ffcb;
  margin-top: 25px;
  /* margin-bottom: 50px; */
}

.board {
  justify-content: center;
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
}

.boxes {
  display: flex;
  height: 120px;
  width: 120px;
  background: #1f3540;
  border: 4px solid #0f1b23;
  border-radius: 16px;
  cursor: pointer;
  margin: 5px;
  justify-content: center;
  align-items: center;
}
