/* --- Global Styles --- */
body {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", monospace; /* Pixel looking font */
  background-color: #222;
  color: #fff;
  text-align: center;
}

.correct-bg{
  background-color: green;
}

.incorrect-bg{
  background-color: #222;
}

/* Container */
.container {
  width: 100%;
  height: 100vh;
  padding-top: 40px;
}

/* Again Button */
.btn-reset {
  background: #fff;
  color: #000;
  border: none;
  padding: 12px 25px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 30px;
  left: 30px;
}

.heading {
  margin-top: 70px;
  font-size: 32px;
  letter-spacing: 2px;
}

/* Mystery Number Box */
.number-box {
  width: 120px;
  height: 120px;
  background: #fff;
  color: #000;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  border-radius: 6px;
}

/* Input + Check Section */
.submit-info {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

/* Number Input */
.input-num {
  width: 130px;
  height: 90px;
  border: 3px solid #fff;
  background: transparent;
  font-size: 40px;
  text-align: center;
  color: #fff;
  font-family: inherit;
  border-radius: 6px;
}

/* Check btn */
.check-num {
  background: #fff;
  border: none;
  padding: 15px 32px;
  color: #000;
  font-size: 20px;
  font-family: inherit;
  border-radius: 4px;
  cursor: pointer;
}

/* Message */
.message {
  font-size: 20px;
  margin-top: 20px;
}

/* Score and Highscore */
.score-board {
  margin-top: 20px;
  font-size: 18px;
}

.score-board span {
  display: block;
  margin-top: 8px;
}
