.main{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100vh;
}

.btn-list{
    padding-bottom: 60px;
    align-items: center;
    display: flex;
    gap: 20px;
}

button{
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 8px;
}

button:hover{
    transform: translateY(-2px);
}

button:active{
    transform: translateY(0);
}